body {
    font-family: sans-serif;
}
/*Комментарии в CSS устанавливаются при помощи комбинации клавиш
cntrl+shift+/ правый*/

h1, h2 {
    color: gray;
}

h1 {
    border-bottom: 2px solid gray;
}

p, em {
    color: maroon;
}

.greentea {
    color: forestgreen;
}

p.blueberry {
    color: purple;
}

p.greentea {
    color: forestgreen;
}

p.raspberry {
    color: blue;
}